apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-app
  namespace: app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx-app
  template:
    metadata:
      labels:
        app: nginx-app
    spec:                        
      serviceAccountName: ycr-sa
      containers:
      - name: nginx-app
        image: cr.yandex/crpjn9i18sh1h62a9tc7/nginx-app:latest
        ports:
        - containerPort: 80
      imagePullSecrets:
        - name: ycr-secret
