# Local .terraform directories and files
**/.terraform/*
.terraform*

!.terraformrc

# .tfstate files
*.tfstate
*.tfstate.*

# Authorized key
*.json

# Инвентори for Kubespray
inventory.ini

# kubeconfig
config

# secret varster
terraform.tfvars

atlantis.var
values.yaml