# Local .terraform directories and files
**/.terraform/*
.terraform*

!.terraformrc

# .tfstate files
*.tfstate
*.tfstate.*

# Authorized key
*.json

# Инвентори for Kubespray
inventory.ini

# secret varster
terraform.tfvars

# templata values.yaml file for Atlantis
values_template.yaml