#cloud-config
users:
  - name: ${username}
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    groups: sudo
    shell: /bin/bash
    ssh-authorized-keys:
      - ${ssh_public_key}

package_update: true
package_upgrade: true

runcmd:
- DEBIAN_FRONTEND=noninteractive apt-get install -y python3 python3.10-venv python3-pip git iptables-persistent

- sysctl -w net.ipv4.ip_forward=1
- sed -i 's/#net.ipv4.ip_forward=1/net.ipv4.ip_forward=1/' /etc/sysctl.conf
- sysctl -p

- iptables -P FORWARD ACCEPT
- iptables -t nat -A POSTROUTING -o eth0 -j MASQUERADE

- netfilter-persistent save

- pip3 install --upgrade pip
- pip3 install "ansible-core>=2.17.3,<2.18"
